html, body {
  background-color: #E91E63;
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  display: inline-block;
}

nav {
  padding: 1rem;
  display: flex;
}

.container{
  width: 960px;
  margin: 0 auto;
}

/* nav style */
.logo {
  padding: 1rem;
  font-weight: bolder;
}

.nav-main {
  flex-grow: 2;
  text-align: right;
}

.nav-main li{
  margin-right: 2rem;
}

/* dropdown-content */
.dropdown-content{
  background-color: white;
  border-radius: 4px;
  transform: translateX(600px);
  width: 160px;
  padding: 10px;
  transition: all 1s ease-in-out;
  position: relative;
  min-height: 80px;
  overflow: hidden;
}

.dropdown-content a {
  color: black;
}

#projects{
  left: -180px;
  position: absolute;
  width: 180px;
}

#library{
  left: 0;
  position: absolute;
  width: 180px;
}

#findme{
  left: 180px;
  position: absolute;
  width: 180px;
}

.dropdown-list{
  transition: all 1s ease-in-out;
}