html, body {
  background-color: #22282d;
  color: white;
}

.card {
  perspective: 10000px; /* keep the perspective */
}

.flipper:hover{
  transform: rotateY(180deg);
}

.flipper {
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  background-color: #5497eb;
  border-radius: 6px;
  width: 200px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  float: left;
}

.vocab {
  font-size: 5rem;
}

.front, .back {
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(-180deg);
}